@model Clase_asp_net.Models.CuentaModelView
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body> 
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h3>Registro de desarrollador</h3>
                <form asp-controller="Cuenta" asp-action="Registro" method="post">
                    <table>
                        <tr>
                            <td>Usuario</td>
                            <td>
                                <input asp-for="cuenta.usuario">
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="password" asp-for="cuenta.password">
                            </td>
                        </tr>
                        <tr>
                            <td>Descripción</td>
                            <td>
                                <textarea cols="30" rows="5" asp-for="cuenta.descripcion"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Disponible</td>
                            <td>
                                <input type="checkbox" asp-for="cuenta.disponible">
                            </td>
                        </tr>
                        <tr>
                            <td>Genero</td>
                            <td>
                                <input type="radio" value="f" asp-for="cuenta.genero">Femenino
                                <br>
                                <input type="radio" value="m" asp-for="cuenta.genero">Masculino
                            </td>
                        </tr>
                        <tr>
                            <td>Lenguajes de progamamción</td>
                            <td>
                                @for (var i = 0; i < Model.lenguajes.Count; i++)
                                {
                                    <input type="checkbox" asp-for="@Model.lenguajes[i].tickeado">
                                    <input type="hidden" asp-for="@Model.lenguajes[i].id">
                                    <input type="hidden" asp-for="@Model.lenguajes[i].nombre">
                                    <label>@Model.lenguajes[i].nombre</label>
                                    <br>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Cargo</td>
                            <td>
                                <select asp-for="cuenta.cargo" asp-items="@Model.cargos"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>Foto de perfil</td>
                            <td>
                                <input type="file" name="foto">
                            </td>
                        </tr>
                        <tr>
                            <td><input type="hidden" asp-for="cuenta.id"></td>
                            <td><input class="btn btn-success" type="submit" value="Registrar"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>